* {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* navbar */
nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 10%;
  background-color: #fbf8f3;
}

.biglogo,
.navbar,
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  margin-right: auto;
}

.navsticky {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
}

.burger {
  display: none;
  cursor: pointer;
}

.navbar,
.login {
  list-style-type: none;
  margin-left: auto;
}

.navbar li a,
.login a,
.signup a,
.logo a {
  text-decoration: none;
  color: black;
}

.signup a {
  color: #fbf8f3;
}

.signup {
  background-color: #4d14d2;
  border-radius: 5px;
  padding: 20px;
  border: none;
  font-weight: bold;
}

.navbar li {
  padding: 0 20px;
}

.login {
  margin-right: 20px;
  font-weight: bold;
}

.logo {
  font-weight: bold;
  font-size: 30px;
}

.navbar li:hover {
  text-decoration: underline #fbf8f3;
}

.login:hover {
  text-decoration: underline #fbf8f3;
}

.signup:hover {
  cursor: pointer;
  background-color: #2f0590;
}

.star {
  width: 10px;
  height: 10px;
}

/* Strat of Header */
header {
  padding: 30px 10%;
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #fbf8f3;
}

.headerimage {
  height: 500px;
  width: 500px;
}

.headerimg {
  margin-left: auto;
}

.ctas {
  display: flex;
  gap: 30px;
  align-items: center;
}

.CTA {
  background-color: #4d13d1;
  border-radius: 5px;
  padding: 15px;
  border: none;
  font-weight: bold;
}

.CTA a {
  color: white;
  text-decoration: none;
}

.viewexamples a {
  color: #4d13d1;
  font-weight: bold;
  text-underline-position: under;
}

.headertext {
  display: grid;
  grid-row-gap: 1rem;
}

.creditcard {
  font-size: small;
  display: flex;
  gap: 10px;
  color: #4f4f4f;
  font-size: 16px;
}

.creditcard div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.portofolioheading {
  font-size: 50px;
}

.subheading {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: normal;
}

.reviews {
  font-size: large;
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  width: 18px;
  height: 18px;
}

.rated {
  margin-left: 10px;
}

.CTA:hover {
  cursor: pointer;
  background-color: #2f0590;
}

.viewexamples:hover {
  text-decoration: underline 2px;
}

.rated a:hover {
  text-decoration: underline 2px #2f0590;
}

/* main body */

.mainbody {
  padding: 30px 10%;
}

.WhyFiber {
  font-weight: bold;
}

.bodyheading {
  font-size: 40px;
}

.featurecardheading {
  font-weight: bold;
}

.featurecardsubheading {
  color: #4f4f4f;
}

.featurecards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10%;
  padding: 30px 0;
}

.featurecard1,
.featurecard2,
.featurecard3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.casestudycard {
  background-color: #4d13d1;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  border-radius: 10px;
  padding: 0 3%;

}

.casestudycardimage {
  height: 80%;
  width: 50%;
  object-fit: cover;
  margin-top: auto;
}

.casestudycardtext {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.CTA2 {
  background-color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: #4d13d1;
  font-weight: bolder;
  font-size: 14px;
  width: 126px;
  height: 46px;
}

.casestudycardheading {
  font-size: 34px;
}

.casestudycardsubheading {
  height: fit-content;
  font-weight: lighter;
  font-size: 18px;
}

.CTA2:hover,
.CTA2:hover a {
  cursor: pointer;
  background-color: darkblue;
  color: white;
}

.WhyFiber:hover {
  text-decoration: underline #4d13d1;
}

/* review cards */

.reviewcards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
}

.cardheading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.name {
  color: #4d13d1;
  font-weight: bold;
}

.reviewcard {
  border: 1px rgba(128, 128, 128, 0.5) solid;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}

.viewportofolio {
  background-color: white;
  border: 1px rgba(128, 128, 128, 0.5) solid;
  color: #4d13d1;
  font-weight: bold;
  padding: 10px 5px;
  font-size: large;
  margin-top: 5px;
}

.viewportofolio:hover {
  background-color: #4d13d1;
  color: white;
  cursor: pointer;
}

.name:hover {
  text-decoration: underline 2px;
  cursor: pointer;
}

/* footer */

footer {
  display: flex;
  align-items: flex-start;
  padding: 30px 10%;
  justify-content: space-between;
  background-color: #fbf8f3;
  gap: 2rem;
}

.title,
.title a {
  color: black;
  font-weight: bold;
}

footer a,
.footerlinks {
  color: #585858;
}

.Fibermessage,
.sitemap,
.resources,
.company,
.portofolios {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Fibermessage {
  width: 25%;
}

footer a:hover {
  text-decoration: underline #585858;
}

html,body {
  margin:0;
  padding:0;
}


@media (max-width: 800px) {
  header {
    flex-direction: column-reverse;
  }

  .ctas,
  .headertext,
  .creditcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .creditcard {
    align-items: flex-start;
  }

  .headerimage {
    width: 100%;
    height: 100%;
    margin-left: auto;
  }

  .headerimg {
    margin: 0 auto;
  }

  .CTA {
    width: 100%;
    height: 60px;
    font-size: large;
  }

  .ctas {
    gap: 10px;
  }

  .reviews {
    display: none;
  }

  /* MAIN Body */

  .featurecard1,
  .featurecard2,
  .featurecard3 {
    flex-direction: column;
    padding-bottom: 10%;
  }

  .featurecards {
    display: flex;
    flex-direction: column;
  }

  .casestudycardheading {
    font-size: 35px;
    width: 75%;
  }

  .casestudycardsubheading {
    font-size: 16px;
    width: 75%;
  }

  .casestudycard {
    flex-direction: column;
    height: fit-content;
    gap: 50px;
    padding: 3% 0 0;
  }

  .casestudycardtext {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .casestudycardimage {
    height: 50%;
    width: 50%;
    margin-top: auto;

  }

  .CTA2 {
    font-size: large;
    width: 80%;
    margin: 0 auto;
  }

  .reviewcards {
    display: flex;
    flex-direction: column;
  }

  .reviewcard {
    width: fit-content;
    margin-bottom: 50px;
  }

  footer {
    flex-direction: column;
  }

  .Fibermessage {
    width: fit-content;
  }

  .biglogo,
  .navbar,
  .buttons {
    display: flex;
    align-items: flex-end;
  }

  .buttons {
    margin-top: 15px;
    width: 100%;
    flex-direction: column-reverse;
    gap: 10px;
  }

  nav {
    display: block;
  }

  .logo {
    margin: 0 auto;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: flex-end;
  }

  .login a,
  .signup a {
    margin: 0 auto;
    text-align: right;
  }
  

  .navbar,
  .buttons {
    display: none;
  }

  .navbar li {
    width: fit-content;
    text-align: right;
  }

  .navbar li a {
    color: black;
  }

  .navbar li:hover {
    cursor: pointer;
  }

  .burger {
    display: flex;
  }

  .burger.active {
    display: flex;
  }

  .buttons.active {
    display: flex;
    align-items: flex-end;
  }

  .navbar.active {
    display: flex;
  }
}
